@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* se define el tamaño y comienzo del body del menu */
body{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}


/* se define el header de la pagina, encontraremos todos las cosas que se colocaron para generarlo */

header{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

header .logohead{
 cursor: pointer;

}

header .logohead img{
    height: 70px;
    width: auto;
    animation: 0.8s;
    transform: translateX(20px);
}

header .logohead img:hover{
    transform: scale(1.1) translateX(20px);;
}

header .casilleros {
    display: flex;
    gap: 2rem;
    transform: translateX(-20px);
}
li{
    list-style: none;
    padding: 0 20px;
}

header .casilleros li:hover{
    transform: scale(1.1);
}

 a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.bar{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

.drop-bar{
    z-index: 999;
}

.drop-bar{
    display: none;
    position: absolute;
    right: 2rem;
    width: 400px;
    top: 20px;
    height: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(26px) translateY(100px);
}

.drop-bar a{
    color: black;
    padding: 33px;
    width: 300px;
    text-align: center;
}

.drop-bar.open{
    height: 355px;
    display: block;
}

.drop-bar li{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 text-decoration: none;
}

.drop-bar li:hover{
   background-color: rgb(194, 194, 194);
  }

@media(max-width: 900px){
   .navbar .casilleros{
        display: none;
    }
   
    .navbar .bar{
        display: block ;
        margin-right: 20px;
    }

    .drop-bar{
        display: block;
    }

    
}

/* se define las caracteristicas y fondo del menu */
.inicio{
    position: relative;
    justify-content: center;
    display: flex;
    background-color: white;
    height: 300vh;
    max-width: 100%;
    text-align: center;
    background:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
     url(../Imagenes/img/Diseño\ sin\ título\ \(18\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 1px;
}


.iniciomenu{
    width: 90%;
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.iniciomenu p{
    color: white;
}

.iniciomenu h1{
    color: white;
}

/* se ajusta y coloca animación a la bienvenida */
.bienvenida{
    display: flex;
    justify-content: center;
    font-size: 40px;
    transform: translateY(110%);
    animation: anim 2.5s linear forwards;
    overflow: hidden;
}

@keyframes anim{
    0%{
        width: 90vw;
        height: 0vw;
    }
    30%{
        width: 90vw;
        height: 12vw;
    }
    60%{
        width: 90vw;
        height: 12vw;
    }
    70%{
        width: 90vw;
        height: 12vw;
    }
    80%{
        width: 90vw;
        height: 12vw;
    }
    100%{
        width: 90vw;
        height: 12vw;
    }
}

/* se ajusta el logo, nombre de la marca y el sobrenosotros */
.logo2{
    display: block;
    top: 25%;
    justify-content: center;
    transform: translateY(45%);
}

.logo2 img{
    transform: translateY(0%);
}

.logo2 h1{
    justify-content: center;
    font-size: 40px;
    transform: translateY(-180%);
}

.logo2 p{
    font-size:20px;
    justify-content: center;
    display: flex;
    transform: translateY(-50%);
}

/* se ajusta el titulo de acerca de y su información */
.acercade{
    display: block;
    justify-content: center;
    font-size: 30px;
    transform: translateY(70%);
}

.acercade p{
    justify-content: center;
    font-size: 20px;
    transform: translateY(-20%);
}

/* se ajusta el las p y logo de compra */
.redirección{
    display: block;
    justify-content: center;
    font-size: 30px;
    transform: translateY(70%);
}

.redirección a{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    transform: translateY(-90%);
    list-style: none;
    display: inline-block;
}

@media (min-width: 359px) and (max-width: 735px) {
    /* Reducimos el tamaño del texto para pantallas más pequeñas */
    .bienvenida {

        font-size: 14px; /* Más pequeño en pantallas pequeñas */
        transform: translateY(400%) translateX(0);
    }

    .logo2{
        transform: translateY(70%) translateX(0);
    }

    .logo2 img{

        width: 200px; /* El logo se hace más pequeño en móviles */
        height: 250px;
    }

    .logo2 h1{
        font-size: 20px; /* Título más pequeño */
    }

    .logo2 p{
        font-size: 15px; /* Ajustamos el tamaño de los párrafos */
        transform: translateY(10%) translateX(0);
    }

    .acercade {
        font-size: 20px;
        transform: translateY(115%) translateX(0);
    }

    .acercade p {
        font-size: 15px;
 
    }

    .redirección {
        font-size: 20px;
        transform: translateY(200%) translateX(0);
    }

    .redirección a {
        font-size: 15px;

    }
}

@media (max-width: 358px) {
    /* Reducimos el tamaño del texto para pantallas más pequeñas */
    .bienvenida {

        font-size: 13px; /* Más pequeño en pantallas pequeñas */
        transform: translateY(400%) translateX(0);
    }

    .logo2{
        transform: translateY(80%) translateX(0);
    }

    .logo2 img{

        width: 150px; /* El logo se hace más pequeño en móviles */
        height: 200px;
    }

    .logo2 h1{
        font-size: 15px; /* Título más pequeño */
    }

    .logo2 p{
        font-size: 13px; /* Ajustamos el tamaño de los párrafos */
        transform: translateY(10%) translateX(0);
    }

    .acercade {
        font-size: 15px;
        transform: translateY(135%) translateX(0);
    }

    .acercade p {
        font-size: 13px;
        transform: translateY(0) translateX(0);
    }

    .redirección {
        font-size: 15px;
        transform: translateY(300%) translateX(0);
    }

    .redirección a {
        font-size: 13px;

    }
}
/* Media Queries para pantallas medianas (tabletas, entre 768px y 990px) */
@media (min-width: 736px) and (max-width: 990px) {
    .bienvenida {

        font-size: 30px; /* Más pequeño en pantallas pequeñas */
        transform: translateY(200%) translateX(0);
    }

    .logo2{
        transform: translateY(35%) translateX(0);
    }

    .logo2 img{
        width: 300px; /* El logo se hace más pequeño en móviles */
        height: 350px;
    }

    .logo2 h1{
        font-size: 35px; /* Título más pequeño */
    }

    .logo2 p{
        font-size: 20px; /* Ajustamos el tamaño de los párrafos */
        transform: translateY(0%) translateX(0);
    }

    .acercade {
        font-size: 35px;
        transform: translateY(35%) translateX(0);
    }

    .acercade p {
        font-size: 20px;
 
    }

    .redirección {
        font-size: 25px;
        transform: translateY(30%) translateX(auto);
    }

    .redirección a {
        font-size: 20px;

    }
}

/* se aarma el cuerpo del footer */
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #262426;
    justify-content: center;
    color: white;
    width: 100%;
}

/* Definiendo el flex, margen y tamaños de las cajas del footer*/
footer #navegacion, #contacto, #redes, #logo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
    text-align: center;
    max-width: 250px;
    max-height: 250px;

}

/* centrando el logo */
#logo{
    justify-content: center;
    align-items: center;
}

/* centrando imagenes y texto, definiendo margen, ancho y alto. */
#tel, #mail, #msg, #IG{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px;
    width: 100%;
    height: 25px;
}

/* Animacion de rotacion para las imagenes */
@keyframes rotacion{
    0%{transform:rotateY(0)}
    100%{transform:rotateY(360deg)}
}


/* Escala y sombra cuando el mouse esta encima de las imagenes. */
#msg img:hover , #IG img:hover{
    scale: 1.2;
    filter: drop-shadow(0 0 5px rgb(0, 99, 198));
}

/* Animación cuando el mouse no esta encima de la imagen. */
#msg img:not(:hover) , #IG img:not(:hover){
    animation: rotacion 0.8s;
}

/* Margen para los titulos. */
footer h3{
    margin: 10px;

}

/* Margen para los textos de los links. */
footer a p{
    margin: 0;
    padding: 0;
}

/* Margen para los links del nav. */
.nav{
    margin: 15px;
}

/* tamaño y margen de los iconos del footer. */
footer .iconos {
    width: 25px;
    height: 25px;
    margin-right: 10px;

}

/* tamaño y mmargen del logo. */
footer .logo{
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
}

/* Reforma del tamaño de la imagen del mail. */
#mail img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

/* Ancho del marquee. */
.marquee{
    width: 100%;   
}

/* color, posición, pading y display del link */
footer .linkanimado {
    color: white;
    text-decoration: none;
    position: relative; 
    display: inline-block; /* permite que link actue como un bloque */
    padding-bottom: 2px;
}

/* Animación del texto antes de que el mouse se posicione sobre el */
footer .linkanimado::before{
    content: "";
    position: absolute; /* Se posiciona por encima del .linkanimado */
    bottom: 0; /* Posiciona el subrayado debajo del texto */
    left: 50%; /* Hace que el subrayado empiece en el centro */
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease; /* Animación width va a tardar 0.3s en estar al 100% del ancho y left en estar a 0 px */
}

/* Cambio de ancho y left cuando el mouse esta sobre el link */
footer .linkanimado:hover::before{
    width: 100%;
    left: 0;
}