body{
margin:0;
padding: 0;
box-sizing: border-box;
}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img{
    width: 150px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a{
    font-family: monospace;
    color:white;
    text-decoration: none;
    font-size: 250%;
}

header .logo img {
    height: 100px;
    width: 100px;
}

nav ul li a:hover{
    text-decoration:wavy;
    color: white;
    opacity: 50%;
    text-decoration: underline;
}

.inicio{
    position: relative;
    justify-content: center;
    display: flex;
    background-color: white;
    height: 300vh;
    width: 100%;
    text-align: center;
    background:linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
     url(../Imagenes/img/Diseño\ sin\ título\ \(18\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 1px;
}


.iniciomenu{
    margin-bottom: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iniciomenu p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.iniciomenu h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bienvenida{
    display: flex;
    justify-content: center;
    font-size: 50px;
    transform: translateY(110%);
    animation: anim 2.5s linear forwards;
    overflow: hidden;
}

@keyframes anim{
    0%{
        width: 90vw;
        height: 0vw;
    }
    30%{
        width: 90vw;
        height: 12vw;
    }
    60%{
        width: 90vw;
        height: 12vw;
    }
    70%{
        width: 90vw;
        height: 12vw;
    }
    80%{
        width: 90vw;
        height: 12vw;
    }
    100%{
        width: 90vw;
        height: 12vw;
    }
}

.logo2{
    display: flex;
    top: 25%;
    justify-content: center;
    transform: translateY(60%);
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 40px;
    transform: translateY(80%);
}

.sobrenosotros{
    font-size:20px;
    justify-content: center;
    display: flex;
    transform: translateY(40%);
}

.acercade{
    display: flex;
    justify-content: center;
    font-size: 30px;
    transform: translateY(110%);
}

.info-acercade{
    display: flex;
    justify-content: center;
    font-size: 20px;
    transform: translateY(40%);
}

.redirección{
    display: flex;
    justify-content: center;
    font-size: 30px;
    transform: translateY(80%);
}

.hazclick{
    display: flex;
    justify-content: center;
    font-size: 15px;
    transform: translateY(10%);
}

.icono1{
    display: flex;
    justify-content: center;
    transform: translateY(-20%);
}

footer{
    padding: 180px;
    margin: 1px;
    background-color: black;
}
 
footer p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seguinos{
    font-size: 15px;
    display: flex;
    transform: translateX(-9%) translateY(-250%);
}

.ig{
    display: flex;
    transform: translateX(-15%) translateY(-370%);
}

.formasdeconct{
    color: white;
    display:flex;
}

.privig{
    display: flex;
    list-style: none;
    font-family: monospace;
    color:white;
    text-decoration: none;
}