@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');

/* se define el tamaño y comienzo del body del menu */

html{
    scroll-behavior: smooth;
}

body{
margin:0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}


/* se define el header de la pagina, encontraremos todos las cosas que se colocaron para generarlo */

header{
    background-color: #262426;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

header .logohead{
 cursor: pointer;

}

header .logohead img{
    height: 70px;
    width: auto;
    animation: 0.8s;
    transform: translateX(20px);
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

header .logohead img:hover{
    transform: scale(1.1) translateX(20px);
}

header .casilleros {
    display: flex;
    gap: 2rem;
    transform: translateX(-20px);
}

li{
    list-style: none;
    padding: 0 20px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

header .casilleros li:hover{
    transform: scale(1.1);
}

 a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.bar{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

.drop-bar{
    z-index: 999;
}

.drop-bar{
    display: none;
    position: absolute;
    right: 2rem;
    width: 362px;
    top: 20px;
    height: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(26px) translateY(100px);
}

.drop-bar a{
    color: black;
    padding: 33px;
    width: 300px;
    text-align: center;
}

.drop-bar.open{
    height: 355px;
    display: block;
}

.drop-bar li{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 text-decoration: none;
}

.drop-bar li:hover{
   background-color: rgb(194, 194, 194);
  }

@media(max-width: 900px){
   .navbar .casilleros{
        display: none;
    }
   
    .navbar .bar{
        display: block ;
        margin-right: 20px;
    }

    .drop-bar{
        display: block;
    }

    
}

/* Define el color del fondo, el tamaño y centra el formulario.*/
#fondo-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(150deg, rgb(0, 99, 198), rgb(78, 99, 255), rgb(99, 160, 235));
}

/* Define la fuente del titulo y la posicion del texto. */
#Formulario h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: white;
    animation: arriba 2.5s ease-in-out;
}

/* Animación para el titulo */
@keyframes arriba{
    0%{
        transform: translatey(0);
        opacity: 0;
    }
    50%{
        transform: translateY(-8px);
        opacity: 1;
    }
}

/* Define el color del fondo del formulario, alto, ancho, margin, padding, bordes y centra los inputs del formulario */
#Formulario{
    background-color: black;
    width: 400px;
    height: 400px;
    text-align: center;
    position: relative;
    border-radius: 15px;
    border: 2px, solid, black;
    padding: 25px;
    animation: arriba-abajo 3s ease-in-out infinite;
}

/* Animacion de movimiento para el formulario */
@keyframes arriba-abajo{
    0%, 100%{
        transform: translatey(0);
    }
    50%{
        transform: translateY(-8px);
    }
}

/* Define los bordes, margin y padding de los inputs del formulario */
input{
    width: 90%;
    border: 2px, solid, black;
    border-radius: 5px;
    margin: 10px;
    padding: 8px;
    background-color: white;
    color: black;
    transition: transform 0.5s ease;
}

/* Define el icono del placeholder Nombre y Apellido */
#Nom::placeholder{
    background-image: url(../Imagenes/ImgForm/PersonaIcono.png);
    background-size: 20px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder Email*/
#Email::placeholder{
    background-image: url(../Imagenes/ImgForm/MailIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder Tel*/
#Tel::placeholder{
    background-image: url(../Imagenes/ImgForm/TelIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder Dir*/
#Dir::placeholder{
    background-image: url(../Imagenes/ImgForm/DirIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder Código*/
#Código::placeholder{
    background-image: url(../Imagenes/ImgForm/CodigoIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Estilo cuando el mouse esta encima del casillero del formulario */
input:hover{
    transform: scale(1.05);
}

/* Define el color del botón, su margen, borde y color de letra */
button{
    background-color: white;
    color: black;
    width: 95%;
    border: 2px, solid;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

/* Efecto cuando el cursor del mouse esta por encima del boton "Enviar" */
button:hover{
    transform: scale(1.05);
    background: linear-gradient(150deg, rgb(0, 99, 198), rgb(78, 99, 255), rgb(99, 160, 235));
    color: white;
}

/* se arma el cuerpo del footer */
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #262426;
    justify-content: center;
    color: white;
    width: 100%;
}

/* Definiendo el flex, margen y tamaños de las cajas del footer*/
footer #navegacion, #contacto, #redes, #logo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
}

/* centrando el logo */
#logo{
    justify-content: center;
    align-items: center;
}

/* centrando imagenes y texto, definiendo margen, ancho y alto. */
#tel, #mail, #msg, #IG{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px;
    width: 100%;
    height: 25px;
}

/* Animacion de rotacion para las imagenes */
@keyframes rotacion{
    0%{transform:rotateY(0)}
    100%{transform:rotateY(360deg)}
}


/* Escala y sombra cuando el mouse esta encima de las imagenes. */
#msg img:hover , #IG img:hover{
    scale: 1.2;
    filter: drop-shadow(0 0 5px rgb(0, 99, 198));
}

/* Animación cuando el mouse no esta encima de la imagen. */
#msg img:not(:hover) , #IG img:not(:hover){
    animation: rotacion 0.8s;
}

/* Margen para los titulos. */
footer h3{
    margin: 10px;

}

/* Margen para los textos. */
footer p{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

/* Margen para los links del nav. */
.nav{
    margin: 15px;
}

/* tamaño y margen de los iconos del footer. */
footer .iconos {
    width: 25px;
    height: 25px;
    margin-right: 10px;

}

/* tamaño y mmargen del logo. */
footer .logo{
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
}

/* Reforma del tamaño de la imagen del mail. */
#mail img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

/* Ancho del marquee. */
.marquee{
    width: 100%;   
}

/* color, posición, pading y display del link */
footer .linkanimado , header .linkanimado {
    color: white;
    text-decoration: none;
    position: relative; 
    display: inline-block; /* permite que link actue como un bloque */
    padding-bottom: 2px;
}

/* Animación del texto antes de que el mouse se posicione sobre el */
footer .linkanimado::before , header .linkanimado::before{
    content: "";
    position: absolute; /* Se posiciona por encima del .linkanimado */
    bottom: 0; /* Posiciona el subrayado debajo del texto */
    left: 50%; /* Hace que el subrayado empiece en el centro */
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease; /* Animación width va a tardar 0.3s en estar al 100% del ancho y left en estar a 0 px */
}

/* Cambio de ancho y left cuando el mouse esta sobre el link */
footer .linkanimado:hover::before , header .linkanimado:hover::before{
    width: 100%;
    left: 0;
}