body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Definición del estilo de #ropa */
#ropa{
    display: flex;
    padding: 10px;
    margin: 40px;
    border: 2px solid black;
    border-radius: 15px;
}

/* Definición del estilo de #nav-slider */
#nav-slider{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    padding: 10px;
    margin-right: 20px;
    align-items: center;
}

/* Definición del estilo de #slider */
#slider{
    width: 45%;
    height: auto;
    padding: 10px;
}

/* Definición del estilo de #detalle-ropa */
#detalle-ropa{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    height: auto;
    text-align: center;
    align-items: center;

}

/* Margen del titulo */
#detalle-ropa h3{
    margin: 0 0 20px 0;
}

/* Definición del estilo del contenedor de los slides */
.slideshow-container {
  width: 100%;
  height: 100%;
  max-width: 420px;
  max-height: 480px;
  position: relative;
  margin: auto;
}

/* Esconde las imagenes */
.mySlides {
  display: none;
  height: 100%;
}

/* Tamaño y borde para las imagenes */
.mySlides img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* Boton de siguiente y anterior. */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posición del boton next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Color cuando el cursor esta encima del boton next o prev */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Estilo para las imagenes del nav-slider */
.navimage{
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 90px;
    margin: 5px;
    cursor: pointer;
    border-radius: 15px;
}

/* Animación cuando el cursor esta encima del las imagenes del nav-slider */
.navimage:hover{
    scale: 1.1;
    border: 2px solid black;
    animation: ampliar 0.2s ease-in-out;
}

/* Estilo cuando la imagen esta activa */
.navimage.active{
    border: 2px solid black;
    scale: 1.1;
}

/* Animacion de opacidad */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Animacion de opacidad */
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Organiza los inputs */
.talle-contenedor{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    max-height: 60px;
    justify-content: center;
  }

.caja-label{
  width: 50px;
  height: 50px;
}

.caja-label label{
    width: 100%;
    height: 100%;
}

/* Aplica el estilo a los div, los centra y los ordena  */
.opcion-talle{
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

/* Oculta el input */
input[type="radio"]{
    display:none;
}

/* Aplica estilo cuando el input esta seleccionado */
input[type="radio"]:checked + .opcion-talle{
    background: linear-gradient(150deg, rgb(0, 99, 198), rgb(78, 99, 255), rgb(99, 160, 235));
    color: black;
    animation: ampliar 0.2s ease-in-out;
    scale: 1.1;
}

/* Animacion de ampliar */
@keyframes ampliar {
    0%{
        scale: 1.0;
    }
    100%{
        scale: 1.1;
    }
}

/* Tamaño del carrito*/
#carrito{
    margin: 25px;
    width: 100%;
    max-width: 250px;
}

/* Estilo para el boton del carrito */
#carrito button{
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}

/* Estilo para el boton del carrito cuando el cursor esta encima */
#carrito button:hover{
    scale: 1.1;
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    animation: ampliar 0.2s ease-in-out;
}

/* Estilo cuando el boton es activado */
#carrito button:active{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 15px greenyellow;
}

/* Tamaño de los contenedores de envio y devolución. */
#envio , #devolucion{
    display: flex;
    width: 100%;
    height: 25px;
    margin: 10px;
}

/* Tamaño de las imagenes de envio y devolucion. */
#envio img , #devolucion img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

/* Margen del texto de envio y devolución. */
#envio p , #devolucion p{
    margin: 6px 0 6px 0;
}
