/* se define el tamaño y comienzo del body del menu catalogo */
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    
    /* se define el header de la pagina, encontraremos todos las cosas que se colocaron para generarlo */
    header{
        display: flex;
        background-color: black;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    header img{
        width: 150px;
    }
    
    nav ul{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    
    nav ul li a{
        font-family: monospace;
        color:white;
        text-decoration: none;
        font-size: 250%;
    }
    
    header .logo img {
        height: 100px;
        width: 100px;
    }
    
    nav ul li a:hover{
        text-decoration:wavy;
        color: white;
        opacity: 50%;
        text-decoration: underline;
    }

    .remeras{
        margin-bottom: 2px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .remeras p{
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    /* se alinean las remeras, se le da color al texto y fuente, y se sube la altura del menu catalogo */
    .menucalog{
        position: relative;
        justify-content: center;
        display: flex;
        background-color: white;
        height: 800vh;
        width: 100%;
        text-align: center;
    }
    
    
    .remeras{
        position: relative;
        margin-bottom: 2px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .remeras p{
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .remeras a{
        text-decoration: none;
    }

    .compra1{
        width: 30px;
    }

    /* se arma la animación de hover */
    .remeras button{
        display: flex;
        border: 0;
        background-image: linear-gradient(150deg, rgb(0, 99, 198), rgb(78, 99, 255), rgb(99, 160, 235));
        border-radius: 8px;
        color: white;
        font-size: 18px;
        padding: 4px;
        cursor: pointer;
        transition: .3s;
    }

   .remeras span{
    background-color: black;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
   }    

   .remeras button:hover span{
    background: none;
   }

   .remeras button :active{
    transform: scale(0.9);
   }

   /* se acomoda las cajas de las remeras junto a su animación */
 .remera1{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #7b7b7b, #353535) 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateY(180px)
 }
 
 .remera1:hover{
    transform: translateY(150px)
 }

 .remera2{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #7b7b7b, #353535) 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateY(380px)
 }
 
 .remera2:hover{
    transform: translateY(350px)
 }

 .remera3{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #7b7b7b, #353535) 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateY(620px)
 }
 
 .remera3:hover{
    transform: translateY(590px)
 }

.remera4{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #7b7b7b, #353535) 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateY(820px)
 }
 
 .remera4:hover{
    transform: translateY(790px)
 }

 .remera5{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #7b7b7b, #353535) 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateY(1020px)
 }
 
 .remera5:hover{
    transform: translateY(990px)
 }

 .remera6{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #7b7b7b, #353535) 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateY(1220px)
 }
 
 .remera6:hover{
    transform: translateY(1190px)
 }

 .remera7{
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #7b7b7b, #353535) 3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s;
    transform: translateY(1420px)
 }
 
 .remera7:hover{
    transform: translateY(1390px)
 }

 /* se acomoda los botones compra */
 .compra1{
    display: flex;
    transform: translateY(350%) translateX(382%);
 }
 .compra2{
    display: flex;
    transform: translateY(680%) translateX(30%);
 }
.compra3{
    display: flex;
    transform: translateY(1070%) translateX(30%);
}

.compra4{
    display: flex;
    transform: translateY(1400%) translateX(30%);
}

.compra5{
    display: flex;
    transform: translateY(1720%) translateX(30%);
}

.compra6{
    display: flex;
    transform: translateY(2050%) translateX(30%);
}

.compra7{
    display: flex;
    transform: translateY(2380%) translateX(30%);
}
    /* se acomoda de vuelta el footer para este menu */
        footer{
    justify-content:center;
    display: flex;
    padding: 0px;
    margin: 1px;
    background-color: black;
    height: 456px;
}
 
footer p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* se comienza a ajustar y armar todos las formas de contactos */
/* instagram */
.seguinos{
    font-size: 15px;
    display: flex;
    margin:auto;
    transform: translateX(-82%) translateY(798%);
}

.ig{
    display: flex;
    transform: translateX(-92%) translateY(880%);
}

/* contactos titulo */
.contactos{
    font-size: 25px;
    display: flex;
    transform: translateX(-92%) translateY(-50%);
}

/* todo el acomodado y armado de msj privado instagram */
.privig {
    display: flex;
    transform: translateX(-92%) translateY(-90%);
}

.privig p{
    color: rgb(148, 148, 148);
    transform: translateX(2%) translateY(0%);
}

.privig img{
    display: flex;
    transform: translateX(-10%) translateY(10%);
}

/* todo el acomodado y armado de nuestro gmail */
.gmailconct{
    display: flex;
    transform: translateX(-92%) translateY(-90%);
}


.gmailconct p{
    color: rgb(148, 148, 148);
    transform: translateX(2%) translateY(0%);
}

.gmailconct img{
    transform: translateX(-10%) translateY(10%);
}

/* todo el acomodado y armado de nuestro telefono */
.telf{
    display: flex;
    transform: translateX(-92%) translateY(-90%);
}

.telf p{
    color: rgb(148, 148, 148);
    transform: translateX(2%) translateY(0%);
}

.telf img{
    display: flex;
    transform: translateX(-10%) translateY(10%);
}

/* todo el acomodado y armado del marquee */
.derechos{
    width: 301%;
    display: flex;
    color: white;
    transform: translateX(-35%) translateY(45%);
}

/* todo el acomodado y armado del logo y titulo que estan dentro del footer */
.logo3{
    display: flex;
    height: 300px;
    width: 300px;
    transform: translateX(165%) translateY(-110%);
}

.titulofoother{
    font-size: 30px;
    display: flex;
    height: 150px;
    width: 150px;
    transform: translateX(420%) translateY(-230%);
}
