/* se define el tamaño y comienzo del body del menu catalogo */
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
    
    /* se define el header de la pagina, encontraremos todos las cosas que se colocaron para generarlo */
    header{
        display: flex;
        background-color: black;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    header img{
        width: 150px;
    }
    
    nav ul{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    
    nav ul li a{
        font-family: monospace;
        color:white;
        text-decoration: none;
        font-size: 250%;
    }
    
    header .logo img {
        height: 100px;
        width: 100px;
    }
    
    nav ul li a:hover{
        text-decoration:wavy;
        color: white;
        opacity: 50%;
        text-decoration: underline;
    }

    .remeras{
        margin-bottom: 2px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .remeras p{
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
    /* se alinean las remeras, se le da color al texto y fuente, y se sube la altura del menu catalogo */
    .menucalog{
        position: relative;
        justify-content: center;
        display: flex;
        background-color: white;
        height: 500vh;
        width: 100%;
        text-align: center;
    }
    
    
    .remeras{
        margin-bottom: 2px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .remeras p{
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    /* se acomoda de vuelta el footer para este menu */
        footer{
    justify-content:center;
    display: flex;
    padding: 0px;
    margin: 1px;
    background-color: black;
    height: 456px;
}
 
footer p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* se comienza a ajustar y armar todos las formas de contactos */
/* instagram */
.seguinos{
    font-size: 15px;
    display: flex;
    margin:auto;
    transform: translateX(-82%) translateY(798%);
}

.ig{
    display: flex;
    transform: translateX(-92%) translateY(880%);
}

/* contactos titulo */
.contactos{
    font-size: 25px;
    display: flex;
    transform: translateX(-92%) translateY(-50%);
}

/* todo el acomodado y armado de msj privado instagram */
.privig {
    display: flex;
    transform: translateX(-92%) translateY(-90%);
}

.privig p{
    color: rgb(148, 148, 148);
    transform: translateX(2%) translateY(0%);
}

.privig img{
    display: flex;
    transform: translateX(-10%) translateY(10%);
}

/* todo el acomodado y armado de nuestro gmail */
.gmailconct{
    display: flex;
    transform: translateX(-92%) translateY(-90%);
}


.gmailconct p{
    color: rgb(148, 148, 148);
    transform: translateX(2%) translateY(0%);
}

.gmailconct img{
    transform: translateX(-10%) translateY(10%);
}

/* todo el acomodado y armado de nuestro telefono */
.telf{
    display: flex;
    transform: translateX(-92%) translateY(-90%);
}

.telf p{
    color: rgb(148, 148, 148);
    transform: translateX(2%) translateY(0%);
}

.telf img{
    display: flex;
    transform: translateX(-10%) translateY(10%);
}

/* todo el acomodado y armado del marquee */
.derechos{
    width: 301%;
    display: flex;
    color: white;
    transform: translateX(-35%) translateY(45%);
}

/* todo el acomodado y armado del logo y titulo que estan dentro del footer */
.logo3{
    display: flex;
    height: 300px;
    width: 300px;
    transform: translateX(165%) translateY(-110%);
}

.titulofoother{
    font-size: 30px;
    display: flex;
    height: 150px;
    width: 150px;
    transform: translateX(420%) translateY(-230%);
}
