/* Define el color del fondo, el tama침o y centra el formulario.*/
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
        background-image: linear-gradient(to top, #6253b9,#cfd5e4, #6253b9);
}


/* Define la fuente del titulo y la posicion del texto. */
#Formulario h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: white;
    animation: arriba 2.5s ease-in-out;
}

/* Animaci칩n para el titulo */
@keyframes arriba{
    0%{
        transform: translatey(0);
        opacity: 0;
    }
    50%{
        transform: translateY(-8px);
        opacity: 1;
    }
}

/* Define el color del fondo del formulario, alto, ancho, margin, padding, bordes y centra los inputs del formulario */
#Formulario{
    background-color: black;
    width: 400px;
    height: 400px;
    text-align: center;
    position: relative;
    border-radius: 15px;
    border: 2px, solid, black;
    padding: 25px;
    animation: arriba-abajo 3s ease-in-out infinite;
}

/* Animacion de movimiento para el formulario */
@keyframes arriba-abajo{
    0%, 100%{
        transform: translatey(0);
    }
    50%{
        transform: translateY(-8px);
    }
}

/* Define los bordes, margin y padding de los inputs del formulario */
input{
    width: 90%;
    border: 2px, solid, black;
    border-radius: 5px;
    margin: 10px;
    padding: 8px;
    background-color: white;
    color: black;
    transition: transform 0.5s ease;
}

/* Define el icono del placeholder Nombre y Apellido */
#Nom::placeholder{
    background-image: url(../Imagenes/PersonaIcono.png);
    background-size: 20px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder Email*/
#Email::placeholder{
    background-image: url(../Imagenes/MailIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder Tel*/
#Tel::placeholder{
    background-image: url(../Imagenes/TelIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder Dir*/
#Dir::placeholder{
    background-image: url(../Imagenes/DirIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Define el icono del placeholder C칩digo*/
#C칩digo::placeholder{
    background-image: url(../Imagenes/CodigoIcono.png);
    background-size: 15px, 15px;
    background-position: 2.5% center;
    background-repeat: no-repeat;
    text-align: center;
}

