body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Definición del estilo de #ropa */
#ropa{
    display: flex;
    padding: 10px;
    margin: 40px;
    border: 2px solid black;
    border-radius: 15px;
}

/* Definición del estilo de #nav-slider */
#nav-slider{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: auto;
    padding: 10px;
    margin-right: 20px;
    align-items: center;
}

/* Definición del estilo de #slider */
#slider{
    width: 45%;
    height: auto;
    padding: 10px;
}

/* Definición del estilo de #detalle-ropa */
#detalle-ropa{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    height: auto;
    text-align: center;
    align-items: center;

}